{% extends 'tienda/base_admin.html' %}
{% block contenido %}
<h2>📦 Pedidos Completados (Cliente)</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Estado del Negocio</th>
        <th>Total</th>
        <th>Acción</th>
    </tr>
    {% for pedido in pedidos %}
    <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.usuario.username }}</td>
        <td>{{ pedido.creado|date:"d/m/Y H:i" }}</td>
        <td>{{ pedido.estado_negocio }}</td>
        <td>{{ pedido.total }} Gs</td>
        <td><a href="{% url 'admin_editar_pedido' pedido.id %}">✏️ Cambiar Estado</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
